.footer {
  background-color: #0a2850;
  padding: 60px 80px 0 80px;
  position: relative;
  z-index: -1;
  color: white;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  height: 39px;
  width: 105px;
}
.footer__circle {
  background-color: var(--azul_claro--);
  height: 340px;
  width: 340px;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: -1;
}
.footer__social {
  margin: 0;
  padding: 0;
}
.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin-bottom: 20px;
}
.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__list-item {
}
.footer__social__link {
  color: white;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  gap: 10px;
}
.footer__social-icon {
  height: 16px;
  width: 16px;
}
.footer__copyright {
  padding-top: 108px;
  padding-bottom: 60px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0 !important;
}
