.reservation {
  background-image: url("/images/web_project_4_files/background_reservation.svg");
  color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 50px 120px;
  background-color: #d9e7ff;
}

.reservation input::placeholder {
  color: #838383;
}

.reservation__input {
  width: 385px;
}

.reservation__title {
  margin-top: 100px;
  text-align: center;
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.reservation__form {
  max-width: 385px;

  margin: 0 auto;
}

.reservation__form_form__item_el_extra-options {
  border-radius: 2px;
}